.App {

}
.app-header{
  color: aquamarine;
  width: 100vw;
  height: 8vh;
}
.blood_group {
  display: inline-block;
  width: 25%;
}
.blood_group h4 {
  display: inline-block;
}
.map-container{
  width: 95vw;
  height: 80vh;
  background-color: azure;
  overflow: auto;
}
.map-container > div {
  margin: 10px;
}
.request-btn{
  margin-top: 1.2vh;
  width: 95vw;
  height: 5vh;
  border: 1px solid white;
  border-radius: 0.5em;
  background: none;
  box-shadow: none;
  color: white;
  font-size: 1.2em;
}
